<!DOCTYPE html>
<html>
<head>
	<meta name="" caracter="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title text-allignment=>Create account</title>
	<title>Mentee</title>
	
	<link href="assets/css/style2.css" rel="stylesheet">
	
</head>
<body>
	<div class="container">
		<div class="title">Sign up as mentee</div>
		<form action="#"><!--action check-->
		    <div class="user-details">
				<div class="input-box">
					<span class="details">Full name</span><br>
					<input type="text" id="name" autofocus placeholder="abcd" required>
				<div>
				
				<div class="input-box">
					<span class="details">Username</span><br>
					<input type="text" id="uname" autofocus placeholder="abcd" required>
				<div>
				
				<div class="input-box">
					<span class="details">Phone Number</span><br>
					<input type="text" id="pnum" autofocus placeholder="+91 123456789" required>
				<div>
				<div class="input-box">
					<span class="details">Email</span><br>
					<input type="text" id="email" autofocus placeholder="example@abcd.com" required>
				<div>
				<div class="input-box">
					<span class="city-details">Place</span><br>
					<select name="city" id="city">
						<option>Bangalore</option>
						<option>Chennai</option>
						<option>Delhi</option>
						<option>Hyderabad</option>
						<option>Mumbai</option>
						
					</select>
				<div>
				<div class="input-box">
					<span class="lang-details">Language Preference</span><br>
					<select name="city" id="lang" >
						<option>English</option>
						<option>Hindi</option>
						<option>Kannada</option>
						<option>Marathi</option>
						<option>Telugu</option>
						<option>Tamil</option>
						
					</select>
				<div>
				<div class="input-box">
					<span class="details">Password</span><br>
					<input type="text" autofocus placeholder="Enter your password" required>
				<div>
				<div class="input-box">
					<span class="details">Confirm your password</span><br>
					<input type="text" id="pword" autofocus placeholder="Confirm your password" required><br>
				<div>
			
				<div class="button" >
					<input type="submit" value="Sign up"><hr>
				</div>
				
			</div>
		</form>
		</div>
	</div>
</body>
<html>


	