<!DOCTYPE html>
<html lang="en">

<head>
 <style>
*{
	box-sizing:border-box;

}
.container1{
	border-radius: 5px;
	background-color:lavender;
	max-width: 7000px;
	margin:auto;
	height: 7000px;
	padding: 15px;

}

h2{
	text-align:center;

	font-size:50px;

}
.img{
	width:10%;
	height:10%;
	padding-bottom:20px;
}
input[type=text],datalist,textarea{
	width:100%;
	padding:30px 10px;
	border:1px solid #008B8B;
	border-radius:3px;
	resize:horizontal;
}
label{
	padding: 7px 7px 7px 7px;
	display: inline-block;
}

.right{
	position:relative;
	margin-right: 0px;
	width:50%;
	border:1px solid #008B8B;

}

.left{
	position:relative;
	left: 0px;
	width:50%;
	border:1px solid #008B8B;

}


</style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login Pages</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">



</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">MENTOR AND MENTEE</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

           <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
		   <li class="dropdown"><a href="#"><span>Create Account</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Create Mentor Account</a></li>
			  <li><a href="#">Create Mentee Account</a></li>
            </ul>
          </li>

          <li class="dropdown"><a href="#"><span>Login</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Mentor</a></li>
              <li><a href="#">Mentee</a></li>
			  <li><a href="#">Admin</a></li>
            </ul>
          </li>

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs" style="background-color:teal;color:white">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Your Profile</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Your Profile</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
       <body style="background-color:teal">


	   <!DOCTYPE HTML>
<html>
<head>
 <title>Mentor-Mentee</title>
 <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="assets/css/style3.css" rel="stylesheet">
 </head>
 <body style="background-color:red">
 <!--profile box-->
 <div class="container1">
	<h2 >My profile</h2>
	<div class="image"><img class="img" src="profile.jpg" alt="profile_pic" ></div>
	<form action=" " method="">
	<div class="left"><!--LEFT SIDE ELEMENTS-->
		<div class="f1">
			<div class="flabel">
				<label for="fname">Full name</label>
				</div>
			<div class="fentry">
				<input type="text" name="full name" value="Full name">
			</div>
		</div>


		<div class="f1">
			<div class="flabel">
				<label for="uname">Username</label>
				</div>
			<div class="fentry">
				<input type="text" name="user name" value="user name">
			</div>
		</div>


		<div class="f1">
			<div class="flabel">
				<label for="email">Email-id</label>
				</div>
			<div class="fentry">
				<input type="email" name="email" value="email">
			</div>
		</div>

		<div class="f1">
			<div class="flabel">
				<label for="pnum">Phone no:</label>
				</div>
			<div class="fentry">
				<input type="text" name="number"  placeholder="+91 12345678" required>
			</div>
		</div>


		<div class="f1">
			<div class="flabel">
				<label for="dob">Date of Birth</label>
				</div>
			<div class="fentry1">
				<input type="date" name="dob" placeholder="dd/mm/yy" required>
			</div>
		</div>



		<div class="f1">
			<div class="flabel">
				<label for="city">Your lovely city</label>
				</div>
			<div class="fentry3">
				<input list="city" name="city">
				  <datalist id="city">
					<option value="Bangalore">
					<option value="Chennai">
					<option value="Delhi">
					<option value="Hyderabad">
					<option value="Mumbai">
				  </datalist>
			</div>
		</div>

		<div class="f1">
			<div class="flabel">
				<label for="lang">Your preferred language</label>
				</div>
			<div class="fentry3">
				<input list="lang" name="lang">
				<datalist id="lang" name="lang" required>
					<option value="English">
					<option value="Hindi">
					<option value="Kannada">
					<option value="Tamil">
					<option value="Telugu">
				</datalist>
			</div>
		</div>
		<div class="f1">
			<div class="flabel">
				<label for="gen">Gender</label>
				</div>
				<div class="fentry4">
					<fieldset id=group1>
					<input type="radio" id="gend-1" name="group1" value="female-1">
					<label for="gender">female</label>
					<input type="radio" id="gend-1" name="group1" value="male-1">
					<label for="gender">male</label>
					<input type="radio" id="gend-1" name="group1" value="other-1">
					<label for="gender">other</label>
					</fieldset>
				</div>
		</div>

		<div class="f1">
			<div class="flabel">
				<label for="lang">Gender preference</label>
				</div>
				<div class="fentry4">
					<fieldset id=group2>
					<input type="radio" id="gend-2" name="group2" value="no pref-2">
					<label for="gender">No preference</label>
					<input type="radio" id="gend-2" name="group2" value="female-2">
					<label for="gender">female</label>
					<input type="radio" id="gend-2" name="group2" value="male-2">
					<label for="gender">male</label>
					</fieldset>
				</div>
		</div>
		</div><!--left side ends here-->
		<!--right elemensts-->
		<div class="right">
		<div class="f1">
			<div class="flabel">
				<label for="filed_of_stdy">Tell us your field of study</label>
				</div>
			<div class="fentry2">
				<textarea id="f_of_stdy" name="f_of_stdy" rows="10" cols="30" placeholder="Mathematics,Physics,Biology,Commerce....." required></textarea>
			</div>
		</div>
		<div class="f1">
			<div class="flabel">
				<label for="behav_ques">Lets us know you better!</label>
			</div>
			<div class="fentry2">
				<div class="innerfabel">
				<label for="behav_ques">1......................................</label>
				</div>
				<textarea id="q1" name="bq1" rows="4" cols="50" placeholder="" required></textarea>
				<div class="innerfabel">
				<label for="behav_ques">2......................................</label>
				</div>
				<textarea id="q2" name="bq2" rows="4" cols="50" placeholder="" required></textarea>
				<div class="innerfabel">
				<label for="behav_ques">3......................................</label>
				</div>
				<textarea id="q3" name="bq3" rows="4" cols="50" placeholder="" required></textarea>
				<div class="innerfabel">
				<label for="behav_ques">4......................................</label>
				</div>
				<textarea id="q4" name="bq4" rows="4" cols="50" placeholder="" required></textarea>

			</div>
		</div>
		<div class="f1">
			<div class="flabel">
				<label for="hobies">Tell us your Hobies</label>
				</div>
			<div class="fentry2">
				<textarea id="hobies" name="hobies" rows="10" cols="30" placeholder="I love dancing,learning,cooking....." required></textarea>
			</div>
		</div>




		<div class="bottm_text">
			<p >I'm Done</p>
			<button class="update" >update</button>
		</div>


	</form>
 </div>
 <div class="container2">
	<button class="btn1" name="button1">click to connect to mentor</button>
	<div class="mentor_text">
		<p>
		Name:jhon<br>
		Number:8957648331<br>
		email:abc@email.com<br>
		language-known:english<br>
		subject:psycology<br>
		</p>
		<button class="inner_btn" name="inn-button">connect</button>
	</div>
	<button class="btn2" name="button2">Disconnect</button>
	</div>
 </body>

</html>



<!--<div class="login">
  <figure class="avatar">
    <!--<img src="//picsum.photos/70" alt="Avatar" class="avatar__image">
    <figcaption class="avatar__name">Welcome Mentor</figcaption>
  </figure>
  <form class="form">
    <div class="input">
      <labe class="input__label" style="color:white;font-size:20">Email</labe>
      <input type="email" class="input__email" placeholder="MENTOR@mail.com">
    </div>
    <div class="input">
      <labe class="input__label" style="color:white;font-size:20">Password</labe>
      <input type="password" class="input__password" placeholder="····" >
    </div>
  </form>
  <button class="form__button">Log in</button>
 </body>
      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" style="background-color:teal">
    <div class="container">
      <h3>MENTOR AND MENTEE</h3>
      <p>WE WILL ALWAYS BE THERE FOR YOU, HELPING YOU ACHIEVE YOUR GOALS</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MENTOR AND MENTEE</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        MENTOR AND MENTEE <a href="index.html">Here to help</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>