<!DOCTYPE html>
<html lang="en">

<head>
 <style>
*{
	box-sizing:border-box;

}
.container1{
	border-radius: 5px;
	background-color:lavender;
	max-width: 7000px;
	margin:auto;
	height: 7000px;
	padding: 15px;

}

h2{
	text-align:center;

	font-size:50px;

}
.img{
	width:10%;
	height:10%;
	padding-bottom:20px;
}
input[type=text],datalist,textarea{
	width:100%;
	padding:30px 10px;
	border:1px solid #008B8B;
	border-radius:3px;
	resize:horizontal;
}
label{
	padding: 7px 7px 7px 7px;
	display: inline-block;
}

.right{
	position:relative;
	margin-right: 0px;
	width:50%;
	border:1px solid #008B8B;

}

.left{
	position:relative;
	left: 0px;
	width:50%;
	border:1px solid #008B8B;

}


</style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login Pages</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='assets/img/favicon.jpg')}}" rel="icon">
  <link href="{{url_for('static', filename='assets/img/apple-touch-icon.jpg')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='assets/vendor/animate.css/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/css/style3.css')}}" rel="stylesheet">



</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="{{url_for('home')}}">MENTOR AND MENTEE</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

           <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{{url_for('home')}}">Home</a></li>
		  <li><a class="nav-link scrollto active" href="{{url_for('profile')}}">Profile</a></li>
		  <li><a class="nav-link scrollto" href="{{url_for('logout')}}">Logout</a></li>
<!--          <li><a class="nav-link scrollto" href="#about">About</a></li>-->
<!--          <li><a class="nav-link scrollto" href="#services">Services</a></li>-->
<!--		   <li class="dropdown"><a href="#"><span>Create Account</span> <i class="bi bi-chevron-down"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="#">Create Mentor Account</a></li>-->
<!--			  <li><a href="#">Create Mentee Account</a></li>-->
<!--            </ul>-->
<!--          </li>-->

<!--          <li class="dropdown"><a href="#"><span>Login</span> <i class="bi bi-chevron-down"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="#">Mentor</a></li>-->
<!--              <li><a href="#">Mentee</a></li>-->
<!--			  <li><a href="#">Admin</a></li>-->
<!--            </ul>-->
<!--          </li>-->

<!--          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs" style="background-color:teal;color:white">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Your Profile</h2>
          <ol>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li>Your Profile</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">

 <div class="container1">
	<h2 >My profile</h2>
	<div class="image"><img class="img" src="{{url_for('static', filename='assets/img/profile.jpg')}}" alt="profile_pic" ></div>
	<form method="POST" action="">
	{% if current_user.urole == "MENTOR" %}
    {{ mentorform.hidden_tag() }}
	{% for error in mentorform.username.errors %}}
		{{error}}
	{% endfor %}
		{% for error in mentorform.email.errors %}}
		{{error}}
	{% endfor %}
		{% for error in mentorform.fullname.errors %}}
		{{error}}
	{% endfor %}
		{% for error in mentorform.b1.errors %}}
		{{error}}
	{% endfor %}
		{% for error in mentorform.b2.errors %}}
		{{error}}
	{% endfor %}
		{% for error in mentorform.hobbies.errors %}}
		{{error}}
	{% endfor %}
		{% for error in mentorform.city.errors %}}
		{{error}}
	{% endfor %}
		{% for error in mentorform.phone.errors %}}
		{{error}}
	{% endfor %}
		{% for error in mentorform.gender.errors %}}
		g1:{{error}}
	{% endfor %}
		{% for error in mentorform.language.errors %}}
		g2:{{error}}
	{% endfor %}
		{% for error in mentorform.expertise.errors %}}
		asp:{{error}}
	{% endfor %}

	{% else %}
	{{ menteeform.hidden_tag() }}
	{% for error in menteeform.username.errors %}}
		{{error}}
	{% endfor %}
		{% for error in menteeform.email.errors %}}
		{{error}}
	{% endfor %}
		{% for error in menteeform.fullname.errors %}}
		{{error}}
	{% endfor %}
		{% for error in menteeform.b1.errors %}}
		{{error}}
	{% endfor %}
		{% for error in menteeform.b2.errors %}}
		{{error}}
	{% endfor %}
		{% for error in menteeform.hobbies.errors %}}
		{{error}}
	{% endfor %}
		{% for error in menteeform.city.errors %}}
		{{error}}
	{% endfor %}
		{% for error in menteeform.phone.errors %}}
		{{error}}
	{% endfor %}
		{% for error in menteeform.gender.errors %}}
		g1:{{error}}
	{% endfor %}
		{% for error in menteeform.gender_pref.errors %}}
		g2:{{error}}
	{% endfor %}
		{% for error in menteeform.language_pref.errors %}}
		lang:{{error}}
	{% endfor %}
		{% for error in menteeform.aspiration.errors %}}
		asp:{{error}}
	{% endfor %}

	{% endif %}
		<div class="f1">
			{% if current_user.urole == "MENTOR" %}
			<div class="flabel">
				<label for="fname">{{mentorform.fullname.label}}</label>
				</div>
			<div class="fentry">
<!--				<input type="text" name="full name" value="Full name">-->
				{{mentorform.fullname(placeholder="Full Name")}}
			</div>
			{% else %}
			<div class="flabel">
				<label for="fname">{{menteeform.fullname.label}}</label>
				</div>
			<div class="fentry">
<!--				<input type="text" name="full name" value="Full name">-->
				{{menteeform.fullname(placeholder="Full Name")}}
			</div>
			{% endif %}
		</div>


		<div class="f1">
			{% if current_user.urole == "MENTOR" %}
			<div class="flabel">
				<label for="uname">{{mentorform.username.label}}</label>
				</div>
			<div class="fentry">
<!--				<input type="text" name="user name" value="user name">-->
				{{mentorform.username(placeholder="username")}}
			</div>
			{% else %}
			<div class="flabel">
				<label for="uname">{{menteeform.username.label}}</label>
				</div>
			<div class="fentry">
<!--				<input type="text" name="user name" value="user name">-->
				{{menteeform.username(placeholder="username")}}
			</div>
			{% endif %}
		</div>


		<div class="f1">
			{% if current_user.urole == "MENTOR" %}
			<div class="flabel">
				<label for="email">{{mentorform.email.label}}</label>
				</div>
			<div class="fentry">
<!--				<input type="email" name="email" value="email">-->
				{{mentorform.email(placeholder="email")}}
			</div>
			{% else %}
			<div class="flabel">
				<label for="email">{{menteeform.email.label}}</label>
				</div>
			<div class="fentry">
<!--				<input type="email" name="email" value="email">-->
				{{menteeform.email(placeholder="email")}}
			</div>
			{% endif %}
		</div>

		<div class="f1">
			{% if current_user.urole == "MENTOR" %}
			<div class="flabel">
				<label for="pnum">{{mentorform.phone.label}}</label>
				</div>
			<div class="fentry">
<!--				<input type="text" name="number"  placeholder="+91 12345678" required>-->
				{{mentorform.phone(placeholder="+919876543210")}}
			</div>
			{% else %}
			<div class="flabel">
				<label for="pnum">{{menteeform.phone.label}}</label>
				</div>
			<div class="fentry">
<!--				<input type="text" name="number"  placeholder="+91 12345678" required>-->
				{{menteeform.phone(placeholder="+919876543210")}}
			</div>
			{% endif %}
		</div>


<!--		<div class="f1">-->
<!--			<div class="flabel">-->
<!--				<label for="dob">Date of Birth</label>-->
<!--				</div>-->
<!--			<div class="fentry1">-->
<!--				<input type="date" name="dob" placeholder="dd/mm/yy" required>-->
<!--			</div>-->
<!--		</div>-->



		<div class="f1">
			{% if current_user.urole == "MENTOR" %}
			<div class="flabel">
				<label for="city">{{mentorform.city.label}}</label>
				</div>
			<div class="fentry3">
<!--				<input list="city" name="city">-->
<!--				  <datalist id="city">-->
<!--					<option value="Bangalore">-->
<!--					<option value="Chennai">-->
<!--					<option value="Delhi">-->
<!--					<option value="Hyderabad">-->
<!--					<option value="Mumbai">-->
<!--				  </datalist>-->
				{{mentorform.city()}}
			</div>
			{% else %}
			<div class="flabel">
				<label for="city">{{menteeform.city.label}}</label>
				</div>
			<div class="fentry3">
			{{menteeform.city()}}
			</div>
			{% endif %}
		</div>

		<div class="f1">
			{% if current_user.urole=="MENTOR" %}
			<div class="flabel">
				<label for="lang">{{mentorform.language.label}}</label>
				</div>
			<div class="fentry3">
<!--				<input list="lang" name="lang">-->
<!--				<datalist id="lang" name="lang" required>-->
<!--					<option value="English">-->
<!--					<option value="Hindi">-->
<!--					<option value="Kannada">-->
<!--					<option value="Tamil">-->
<!--					<option value="Telugu">-->
<!--				</datalist>-->
				{{mentorform.language()}}
			</div>
			{% else %}
			<div class="flabel">
				<label for="lang">{{menteeform.language_pref.label}}</label>
				</div>
			<div class="fentry3">
<!--				<input list="lang" name="lang">-->
<!--				<datalist id="lang" name="lang" required>-->
<!--					<option value="English">-->
<!--					<option value="Hindi">-->
<!--					<option value="Kannada">-->
<!--					<option value="Tamil">-->
<!--					<option value="Telugu">-->
<!--				</datalist>-->
				{{menteeform.language_pref()}}
			</div>
			{% endif %}
		</div>
		<div class="f1">
			{% if current_user.urole=="MENTOR" %}
			<div class="flabel">
				<label for="gen">{{mentorform.gender.label}}</label>
				</div>
				<div class="fentry4">
<!--					<fieldset id=group1>-->
<!--					<input type="radio" id="gend-1" name="group1" value="female-1">-->
<!--					<label for="gender">female</label>-->
<!--					<input type="radio" id="gend-1" name="group1" value="male-1">-->
<!--					<label for="gender">male</label>-->
<!--					<input type="radio" id="gend-1" name="group1" value="other-1">-->
<!--					<label for="gender">other</label>-->
<!--					</fieldset>-->
					{{mentorform.gender()}}
				</div>
			{% else %}
			<div class="flabel">
				<label for="gen">{{menteeform.gender.label}}</label>
				</div>
				<div class="fentry4">
					{{menteeform.gender()}}
				</div>
			{% endif %}
		</div>

		{% if current_user.urole=="MENTEE" %}
		<div class="f1">
			<div class="flabel">
				<label for="lang">{{menteeform.gender_pref.label}}</label>
				</div>
				<div class="fentry4">
<!--					<fieldset id=group2>-->
<!--					<input type="radio" id="gend-2" name="group2" value="no pref-2">-->
<!--					<label for="gender">No preference</label>-->
<!--					<input type="radio" id="gend-2" name="group2" value="female-2">-->
<!--					<label for="gender">female</label>-->
<!--					<input type="radio" id="gend-2" name="group2" value="male-2">-->
<!--					<label for="gender">male</label>-->
<!--					</fieldset>-->
					{{menteeform.gender_pref()}}
				</div>
		</div>
		{% endif %}

		<div class="f1">
			{% if current_user.urole=="MENTOR" %}
			<div class="flabel">
				<label for="gen">{{mentorform.expertise.label}}</label>
				</div>
				<div class="fentry4">
<!--					<fieldset id=group1>-->
<!--					<input type="radio" id="gend-1" name="group1" value="female-1">-->
<!--					<label for="gender">female</label>-->
<!--					<input type="radio" id="gend-1" name="group1" value="male-1">-->
<!--					<label for="gender">male</label>-->
<!--					<input type="radio" id="gend-1" name="group1" value="other-1">-->
<!--					<label for="gender">other</label>-->
<!--					</fieldset>-->
					{{mentorform.expertise()}}
				</div>
			{% else %}
			<div class="flabel">
				<label for="gen">{{menteeform.aspiration.label}}</label>
				</div>
				<div class="fentry4">
					{{menteeform.aspiration()}}
				</div>
			{% endif %}
		</div>



		<div class="f1">

			<div class="flabel">
				<label for="behav_ques">Lets us know you better!</label>
			</div>
			{% if current_user.urole=="MENTOR" %}
			<div class="fentry2">
				<div class="innerfabel">
				<label for="behav_ques">1......................................</label>
				</div>
<!--				<textarea id="q1" name="bq1" rows="4" cols="50" placeholder="" required></textarea>-->
				{{mentorform.b1(cols="50", rows="4")}}
				<div class="innerfabel">
				<label for="behav_ques">2......................................</label>
				</div>
<!--				<textarea id="q2" name="bq2" rows="4" cols="50" placeholder="" required></textarea>-->
				{{mentorform.b2(cols="50", rows="4")}}
			</div>
			{% else %}
			<div class="fentry2">
				<div class="innerfabel">
				<label for="behav_ques">1......................................</label>
				</div>
<!--				<textarea id="q1" name="bq1" rows="4" cols="50" placeholder="" required></textarea>-->
				{{menteeform.b1(cols="50", rows="4")}}
				<div class="innerfabel">
				<label for="behav_ques">2......................................</label>
				</div>
<!--				<textarea id="q2" name="bq2" rows="4" cols="50" placeholder="" required></textarea>-->
				{{menteeform.b2(cols="50", rows="4")}}
			</div>
			{% endif %}
		</div>
		<div class="f1">
			{% if current_user.urole=="MENTOR" %}
			<div class="flabel">
				<label for="hobies">{{mentorform.hobbies.label}}</label>
				</div>
			<div class="fentry2">
<!--				<textarea id="hobies" name="hobies" rows="10" cols="30" placeholder="I love dancing,learning,cooking....." required></textarea>-->
				{{mentorform.hobbies(cols="30", rows="10", placeholder="I love dancing,learning,cooking.....")}}
			</div>
			{% else %}
			<div class="flabel">
				<label for="hobies">{{menteeform.hobbies.label}}</label>
				</div>
			<div class="fentry2">
<!--				<textarea id="hobies" name="hobies" rows="10" cols="30" placeholder="I love dancing,learning,cooking....." required></textarea>-->
				{{menteeform.hobbies(cols="30", rows="10", placeholder="I love dancing,learning,cooking.....")}}
			</div>
			{% endif %}
		</div>


		<div class="bottm_text">
			<p >I'm Done</p>
			{% if current_user.urole=="MENTOR" %}
			{{mentorform.submit(class="update")}}
			{% else %}
			{{menteeform.submit2(class="update")}}
			{% endif %}
<!--			<button class="update" >update</button>-->
		</div>


	</form>
 </div>



 {% if current_user.urole=="MENTEE" %}
 	{% if current_user.mentee.mentor_id %}
	 <div class="container2">
		<div class="mentor_text">
			<p>
			Name:{{current_user.mentee.mentor.user.fullname}}<br>
			Number:{{current_user.mentee.mentor.user.phone}}<br>
			email:{{current_user.mentee.mentor.user.email}}<br>
			language-known:{{current_user.mentee.mentor.language}}<br>
			subject:{{current_user.mentee.mentor.expertise_1}}<br>
			</p>
<!--			<button class="inner_btn" name="inn-button">connect</button>-->
		</div>
		<form method="POST">
          {{ disconnect_form.hidden_tag() }}
          {{ disconnect_form.disconnect(class="btn2") }}
        </form>
<!--		<button class="btn2" name="button2">Disconnect</button>-->
	 </div>
 	{% else %}
		{% for pot_mentor in pot_mentors %}
			 <div class="mentor_text">
				<p>
				Name:{{pot_mentor.user.fullname}}<br>
				Number:{{pot_mentor.user.phone}}<br>
				email:{{pot_mentor.user.email}}<br>
				language-known:{{pot_mentor.language}}<br>
				subject:{{pot_mentor.expertise_1}}<br>
				</p>
				<form method="POST">
				  {{ connect_form.hidden_tag() }}
				  <input id="mentor_to_connect" name="mentor_to_connect" value="{{pot_mentor.id}}" type="hidden">
				  {{ connect_form.connect(class="btn2") }}
				</form>
			</div>

		{% endfor %}
 		<form method="POST">
          {{ find_form.hidden_tag() }}
          {{ find_form.find(class="btn2") }}
        </form>
<!-- 	 <button class="btn1" name="button1">click to connect to mentor</button>-->
 	{% endif %}

 {% else %}
 	{% if current_user.mentor.mentees|length > 0 %}
 		{% for mentee in current_user.mentor.mentees %}
 			<div class="container2">
				<div class="mentor_text">
					<p>
					Name:{{mentee.user.fullname}}<br>
					Number:{{mentee.user.phone}}<br>
					email:{{mentee.user.email}}<br>
					gender:{{mentee.gender}}<br>
					location:{{mentee.city}}<br>
					mentee-aspiration:{{mentee.aspiration}}<br>
					</p>
				</div>
			 </div>
 		{% endfor %}
 	{% else %}
 	<p>You currently have no mentees</p>
 	{% endif %}
 {% endif %}
<!-- <div class="container2">-->
<!--	<button class="btn1" name="button1">click to connect to mentor</button>-->
<!--	<div class="mentor_text">-->
<!--		<p>-->
<!--		Name:jhon<br>-->
<!--		Number:8957648331<br>-->
<!--		email:abc@email.com<br>-->
<!--		language-known:english<br>-->
<!--		subject:psycology<br>-->
<!--		</p>-->
<!--		<button class="inner_btn" name="inn-button">connect</button>-->
<!--	</div>-->
<!--	<button class="btn2" name="button2">Disconnect</button>-->
<!--	</div>-->
 </body>

</html>



<!--<div class="login">
  <figure class="avatar">
    <!--<img src="//picsum.photos/70" alt="Avatar" class="avatar__image">
    <figcaption class="avatar__name">Welcome Mentor</figcaption>
  </figure>
  <form class="form">
    <div class="input">
      <labe class="input__label" style="color:white;font-size:20">Email</labe>
      <input type="email" class="input__email" placeholder="MENTOR@mail.com">
    </div>
    <div class="input">
      <labe class="input__label" style="color:white;font-size:20">Password</labe>
      <input type="password" class="input__password" placeholder="····" >
    </div>
  </form>
  <button class="form__button">Log in</button>
 </body>
      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" style="background-color:teal">
    <div class="container">
      <h3>MENTOR AND MENTEE</h3>
      <p>WE WILL ALWAYS BE THERE FOR YOU, HELPING YOU ACHIEVE YOUR GOALS</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MENTOR AND MENTEE</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        MENTOR AND MENTEE <a href="url_for('home')">Here to help</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

</body>

</html>