<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello {{my_var}}!!</h1>
{% if current_user.is_authenticated %}
    <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
    <a class="nav-item nav-link" href="{{ url_for('home') }}">Account</a>
    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
{% else %}
    <a class="nav-item nav-link" href="{{ url_for('login_mentor') }}">Login</a>
    <a class="nav-item nav-link" href="{{ url_for('register_mentor') }}">Register</a>
{% endif %}
</body>
</html>